@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 pt-1 h-10 text-lg font-semibold text-white rounded-full bg-primary hover:bg-secondary transition duration-300;
  }
  body.dark {
    background-color: #222222; /* same as bg-gray-800 */
  }
}

@layer utilities {
  body.dark {
    background-color: #161616; /* same as bg-gray-800 */
  }
}
@layer base {
  body.dark {
    background-color: #222222; /* same as bg-gray-800 */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Ajustez la largeur de la scrollbar */
    border-radius: 10px; /* Ajustez le rayon de bordure de la scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Couleur de la scrollbar */
    border-radius: 10px; /* Rayon de bordure de la scrollbar */
  }
}
