
.loadingContainer {
   
  }
  
  @media (max-width: 768px) {
    .loadingContainer {
     align-items: center;
     text-align: center;
     padding-top: 6rem;
     font-weight: 550;
     font-size: 1.5rem;
     
    }

    .customParagraph{
      color: rgb(2, 63, 117);
    }
  
  }
  